.container-form-pb{
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.form-pb{
    display: flex;
}

.form-item-pb{
    width: 300px;
}

.btn-pb{
    margin-top: 5px;
    margin-right: 5px;
}